<div class="row">
    <div class="alert alert-primary" role="alert">
        {{title}}
    </div>
</div>

<div class="row">
    <div class="alert alert-secondary" role="alert">
        {{name}}
    </div>
</div>
